In [1]:
from get_stock_price import get_daily_price, get_earning_history

In [2]:
price = get_daily_price("irm", outputsize='full')

In [3]:
price.loc[~price['div_amount'].isnull(), :]

,open,high,low,close,volume,ohlc_avg,hlc_avg,div_amount,decldate,recdate,paydate
2013-06-21,27.56,27.560,26.700,26.84,3294500,27.16500,27.033333,0.270,2013-06-06,2013-06-25,2013-07-15
2013-09-23,28.31,28.420,27.815,28.41,2414500,28.23875,28.215000,0.270,2013-09-11,2013-09-25,2013-10-15
2013-12-24,29.77,30.590,29.575,30.55,1094900,30.12125,30.238333,0.270,2013-12-17,2013-12-27,2014-01-15
2014-03-21,27.61,28.080,27.500,27.61,2259200,27.70000,27.730000,0.270,2014-03-17,2014-03-25,2014-04-15
2014-06-23,29.95,30.330,29.621,30.26,1787100,30.04025,30.070333,0.270,2014-05-29,2014-06-25,2014-07-15
2014-09-23,34.81,35.320,34.681,35.19,1751682,35.00025,35.063667,0.475,2014-09-15,2014-09-25,2014-10-15
2014-11-25,37.80,37.950,37.200,37.20,17681850,37.53750,37.450000,0.255,2014-11-19,2014-11-28,2014-12-15
2014-12-03,38.35,38.580,37.345,37.50,4226554,37.94375,37.808333,0.475,2014-11-17,2014-12-05,2014-12-22
2015-03-04,36.77,37.126,36.410,36.49,2038739,36.69900,36.675333,0.475,2015-02-23,2015-03-06,2015-03-20
2015-06-10,31.74,31.970,31.380,31.85,1806866,31.73500,31.733333,0.475,2015-05-29,2015-06-12,2015-06-26
2015-09-09,28.20,28.370,27.730,28.01,1766164,28.07750,28.036667,0.475,2015-08-31,2015-09-11,2015-09-30
2015-11-27,27.93,28.350,27.880,28.06,961122,28.05500,28.096667,0.485,2015-10-30,2015-12-01,2015-12-15
2016-03-03,29.50,30.290,29.160,30.20,1532783,29.78750,29.883333,0.485,2016-02-22,2016-03-07,2016-03-21
2016-06-02,36.12,36.650,36.095,36.62,2141188,36.37125,36.455000,0.485,2016-05-26,2016-06-06,2016-06-24
2016-09-08,39.02,39.040,38.210,38.28,3019638,38.63750,38.510000,0.485,2016-09-21,2016-09-12,2016-09-30
2016-12-13,33.53,33.570,33.010,33.16,1695951,33.31750,33.246667,0.550,2016-11-01,2016-12-15,2016-12-30
2017-03-13,33.79,34.050,33.680,34.01,1287386,33.88250,33.913333,0.550,2017-02-16,2017-03-15,2017-04-03
2017-06-13,33.72,34.420,33.700,34.21,1491561,34.01250,34.110000,0.550,2017-05-25,2017-06-15,2017-07-03
2017-09-14,39.16,39.250,38.550,39.15,1359423,39.02750,38.983333,0.550,2017-07-28,2017-09-15,2017-10-02
2017-12-14,38.03,38.850,37.910,37.96,3970062,38.18750,38.240000,0.587,2017-10-24,2017-12-15,2018-01-02
2018-03-14,32.71,32.990,32.550,32.98,1995549,32.80750,32.840000,0.587,2018-02-14,2018-03-15,2018-04-02

In [4]:
earning = get_earning_history("irm")

In [5]:
from get_plot import make_price_plot, make_earning_plot, make_div_plot


# price_plot = make_price_plot(price)
# earning_plot = make_earning_plot(earning)
div_plot = make_div_plot(price)

NameError: name 'df' is not defined

In [ ]:
from bokeh.plotting import output_notebook, show
output_notebook()
show(div_plot)